In [47]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import sqlite3 as db

In [1]:
# Read the following data set: 

# url= "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"
# data=pd.read_csv(url, header = None)
# AData=pd.DataFrame(data)
# AData=AData.rename(columns={0:"age",1:"workclass",2:"fnlwgt",3:"education",4:"education-num",5:"marital-status",6:"occupation",7:"relationship",8:"race",9:"sex",10:"capital-gain",11:"capital-loss",12:"hours_per_week",13:"native-country",14:"class"})
# AData.head()
# # AD.info()

In [48]:

import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db


from pandasql import sqldf
pysqldf = lambda q: sqldf(q,globals())

# Import CSV

adult=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',names=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital-gain','capital-loss','hours-per-week','native-country','class'])

def trimAllColumns(df):
    trimStrings = lambda x: x.strip() if type(x) is str else x
    return df.applymap(trimStrings)
adult = trimAllColumns(adult)

# Replace column name having “-“ with “_”

adult.columns = adult.columns.str.replace('-', '_')

adult.head(3)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [ ]:
# 1.Create an sqlalchemy engine using a sample from the data set

In [68]:
from sqlalchemy import create_engine
engine=create_engine("sqlite:///:memory:")
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()
adult.to_sql('G',engine)
df = pd.read_sql_query('SELECT * FROM G LIMIT 5 ;', engine)
#df = pd.read_sql_query("SELECT age,education  FROM G WHERE education = 'HS-grad' ; ",engine)
df.head(1)

,index,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [ ]:
# 2.  Please Write two basic update queries

In [69]:
df1= pd.read_sql_query("DELETE  FROM G WHERE education = 'HS-grad' ;", engine)
df1.head()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
# 3.  Write two delete querie

In [51]:
df1= pd.read_sql_query("DELETE FROM G WHERE age= 50;", engine)
df1.head()

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
# 4.  Write two filter queries

In [ ]:
# 5.  Write two function queries